<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Welcome to Social Events Site </title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <!-- <link rel="stylesheet" href="stylesheet.css"> -->
  <style type="text/css">
  body {
    color: rgb(7, 28, 124);
    background-color: #83DE75; 
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    } 

  </style>
</head>
<body>
  <div>
      <h1>Welcome to Social Events Site</h1>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>
